<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0" style="background-color:#D3D3D3;">
                <div class="Card-header">
                    <h3 class="mb-0" align="center">Login</h3>
                </div>
                <div class="card-body">
                    <div class="form">
                        <form class="user-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                        
                        <div class="form-check"></div>
                        <div class="col-md-12">
                            <label class="form-label" for="floatingInput">UserName</label>
                            <input type="email" class="form-control" [(ngModel)]="loginUserData.userName"
                                id="floatingInput" placeholder="Please Enter Your Email"  formControlName="email">
                                <div *ngIf="submitted && formControl.email.errors" class="text-danger">
                                    <div *ngIf="formControl.email.errors.email">Email must be valid.</div>
                                    <div *ngIf="formControl.email.errors.required">Email is required.</div>
                                  </div>
                        </div>
                        <div class="form-check"></div>
                        <div class="col-md-12">
                            <label class="form-label" for="floatingPassword">Password</label>
                            <input type="password" class="form-control" [(ngModel)]="loginUserData.password"
                                id="floatingPassword" placeholder="Password" formControlName="password">
                                <div *ngIf="submitted && formControl.password.errors" class="text-danger">
                                    <div *ngIf="formControl.password.errors.required">Password is required.</div>
                                    <div *ngIf="formControl.password.errors.pattern">
                                      <!-- <h3>Password must contain the following:</h3> -->
                                      <ul>
                                        <li>Password should be alphanumeric</li>
                                        <li>A letter of the password should be capital</li>
                                        <li>Password must contain a special character (@, $, !, &, etc)</li>
                                        <li>Password length must be greater than 7 characters</li>
                                      </ul>
                                    </div>
                                  </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check"></div>
                        </div>
                        <button class="btn btn-lg btn-secondary"  type="submit">Sign in</button> 
                        <!-- (click)="LoginUser()" -->
                        <div class="col-md-12">
                            <label class="form-label">New User?</label>
                             <a routerLink="/register">Click Here</a>
                        </div></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>