<br><br>
<!-- <h1>StockDetails</h1>  -->
<!-- <h2>Get Stock : <button type="button" class="btn btn-secondary" (click)="getData()">Click Here</button></h2> -->
<div class="container-fluid">
    <div class="container">
        <h2 align="center">Add Shares</h2>
        <table align="center">
            <tr>
                <td>Company Code :</td>
                <td><input [(ngModel)]="StockDetail.companyCode" type="text"></td>
            </tr>
            <tr>
                <td>Company Name :</td>
                <td><input [(ngModel)]="StockDetail.companyName" type="text"></td>
            </tr>
            <tr>
                <td>Start Date :</td>
                <td><input type="date" [(ngModel)]="StockDetail.startDate"></td>
            </tr>
            <tr>
                <td>End Date :</td>
                <td><input type="date" [(ngModel)]="StockDetail.endDate"></td>
            </tr>
            <tr>
                <td>Stock Price :</td>
                <td><input [(ngModel)]="StockDetail.stockPrice" type="number"></td>
            </tr>
            <tr>
                <td>Stock Quantity :</td>
                <td><input [(ngModel)]="StockDetail.stockQuantity" type="text"></td>
            </tr>
            <tr>
                <td></td>
                <td><button align="center" type="button" class="btn btn-secondary"
                        (click)="AddStock()">Add</button><br><br></td>
            </tr>
        </table>


    </div>
</div>